.container-products{
    margin-left: 6rem;
    padding-top: 130px;
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    justify-content: center;
}

#product-new-button{
    margin-top: 1rem;
    margin-left: 103rem;
}