.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-bottom: 30px;
    position: fixed;
    border-bottom: 2px solid #242424;
    z-index: 1000;
    height: 80px;
}


ul li{
    display: inline-block;
    cursor: pointer;
    margin-left: 190px;
    margin-top: 30px;
    font-family: 'Rubik Mono One';
    font-weight: 600;
    font-size: 19px;
    color: black;
}

ul li a {
    color: inherit;
    text-decoration: none;
}

ul li:hover{
    text-decoration: underline;
}

.logo{
    position: absolute;
    top: 20px;
}

.username-logout-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 30px;
    padding-top: 35px;
    padding-left: 100px;
    padding-right: 180px;
    
}

.navbar-username{
    margin-right: 30px;
    font-family: 'Roboto Serif';
    font-size: 15px;
    padding: 4px;
    border: 2px solid black
}

.navbar-logout {
    background:none;  
    cursor: pointer;
    border: none;
    text-decoration: underline;
    font-family: 'Roboto Serif';
    font-size: 13px;
}
/*
.searchbar{
    display: flex;
    align-items: center;
    background: #eaeaea;
    padding: 10px 20px;
    border-radius: 10px;
    width: 300px;
    margin-top: 30px;
    margin-right: 99px;
}

.searchbar input{
    padding: 5px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #242424;
    font-size: 18px;
    width: 320px;
    font-family: 'Open Sans';
    font-size: 15px;
}

.searchbar img{
    color: #fff;
}
*/